*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

/* utility css */

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.space-around{
    justify-content: space-around;
}

.flexcol{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
}

.center{
    text-align: center;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.btn{
    background-color: white;
    color: black;
    padding: 10px 25px;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
}

.section-padding{
    padding: 50px 5% 30px;
}

.heading{
    color: #2d2d2d;
    font-weight: bold;
    padding-bottom: 30px;
}


/* header section  */

header{
    width: 100%;
    height: 100vh;
   background-image: linear-gradient(rgba(0, 0, 0, 0.263),rgba(0, 0, 0, 0.418)) ,url("images/banner.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.logo img{
    width: 150px;
}

.links a{
    padding: 0 15px 10px;
    position: relative;
}


.links a:nth-child(1)::after{
    position: absolute;
    bottom: 0;
    left: 40%;
    content: "";
    width: 20%;
    height: 3px;
    background-color: white;
    border-radius: 20px;
}

main{
    height: calc(100vh - 84px);
    color: white;
    gap: 30px;
}

main .content{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 30px;
    color: black;
    padding: 5px 0;
}

.content p{
    color: rgba(0, 0, 0, 0.753);
    font-size: 13px;
    padding: 5px 0;
}
.search-container{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d94c57;
    transform: translateX(12px);
    transition: .2s linear;
}

.search-container img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* exclusives section  */

.ex-card{
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    color: white;
    overflow: hidden;
}

.ex-card .ex-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.ex-card img{
    transition: .3s linear;
}
.ex-card img:hover{
    transform: scale(1.2);
}


/* trending places section  */

.tranding-card{
    width: 220px;
    overflow: hidden;
}

.tranding-card img{
    border-radius: 10px;
    transition: .2s linear;
}


.tranding-card h3{
    font-weight: 600;
}

.img-container{
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.bannercontent{
    position: absolute;
    width: 100%;
    height: 98%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,.1));
    color: white;
    padding:10% 5%;
    border-radius: 15px 15px 0 0;
}

.bannercontent h1{
    font-size: 30px;
    word-spacing: 5px;
}

.bannercontent p{
    margin-block: 15px;
}

.travel-card{
    width:28%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.travel-card img{
    border-radius: 10px;
    transition: .3s linear;
}

.travel-card:hover img{
    transform: scale(1.2);
}
.travel-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    width: 80%;
}

.traveler-btn{
    background-color: #d94c57;
    color: white;
    margin: 30px 0;
    padding: 15px 50px;
}

footer p{
    width: 80%;
}

footer h5{
    padding-top: 20px;
}

footer .icon{
    padding: 20px 0;
}

footer .icon i{
    color: black;
    font-size: 20px;
    transition: .3s linear;
}

.fa-whatsapp:hover {
    color: #55cd61;
    transform: scale(1.2);
}

.fa-instagram:hover{
    color: #c8518f;
    transform: scale(1.2);
}


.fa-x-twitter:hover{
    color: #219edf;
    transform: scale(1.2);
}

.img-container{
    overflow: hidden;
}

.img-container:hover .bannercontent{
    transform: translateX(0%);
}

.bannercontent{
    transition: .4s linear;
    transform: translateX(-100%);
}

/* hamburger icon  */

.menu{
    width: 30px;
    height: 30px;
    background: linear-gradient(to right, #e91e63, #f44336);
    border-radius: 2px;
    position: relative;
    padding: 5px;
    display: none;
}

.line1, .line2, .line3{
    display: block;
    width: 75%;
    background-color: white;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .3s linear;
}

.line1{
    width: 50%;
    transform: translate(-72%,-291%);
}

.line3{
    width: 50%;
    transform: translate(-28%,200%);
}

.openmenu .line1{
    display: none;
}

.openmenu .line2{
    transform: translate(-56%,0%) rotate(-45deg);
}

.openmenu .line3{
    width: 75%;
    transform: translate(-61%,289%) rotate(45deg);
    transform-origin: 100% 0;
}


/* responsivness  */

@media (max-width:800px){
    #menu{
        display: block;
        position: fixed;
        z-index: 100;
        top: 4%;
        right: 10%;
    }

    nav{
        justify-content: space-between;
        padding-inline: 7%;
    }

    nav .links{
        display: none;
    }

    nav button{
        display: none;
    }
}

@media (max-width:1100px){
    main .content{
        width: 90%;
    }
}

@media (max-width:720px){
    main .content{
        flex-direction: column;
        text-align: center;
        font-size: 130%;
    }
    main .content .search-container{
        transform: translateX(0);
    }
}

@media (max-width:900px){
 
    .img-container{
        height: 400px;
        background: url(images/banner-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .img-container img{
        display: none;
    }
}

@media (max-width:750px){
    .traveller{
        flex-direction: column;
    }
    .travel-card{
        width: 90%;
    }
}

@media (max-width:580px){
    .ex-card{
        width: 90%;
    }
}

.mobilenav{
    background-color: black;
    padding: 3% 7%;
    position: fixed;
    top: -300px;
    left: 0;
    width: 100%;
    transition: .3s linear;
    z-index: 10;
}

.mobilelogo img{
    width: 150px;
    
}

.mobilelinks a{
    display: block;
    padding: 15px 0;
    text-align: right;
}

.active{
    top: 0px;
}